<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Hello</title>
</head>
<body>

<h1>Welcome <span th:text="${username}">Anonim</span>to GuitHub</h1>
<h2>Here is the list of all our users from DB:</h2>

<div th:each="user : ${users}">
  <span th:text="${user.id}">user id</span> <span th:text="${user.username}">user names</span>
</div>

<div>
  <span th:if="${massage}" th:text="${massage}"></span>
</div>

<h2>Registrate new user:</h2>
<form method="post" action="/reg">
  <input type="text" name="username"/>
  <input type="password" name="password"/>
  <input type="submit"/>
</form>

<h2>Login:</h2>
<form method="post" action="/login">
  <input type="text" name="username"/>
  <input type="password" name="password"/>
  <input type="submit"/>
</form>

<a href="/exit">Exit</a>

<h2>Delete user by ID:</h2>
<form method="post" action="/deleteuser">
  <input type="text" name="id"/>
  <input type="submit"/>
</form>

</body>
</html>