<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Test1 - VexFlow</title>
<link rel="stylesheet" href="css/main.css">
<script src='https://unpkg.com/vexflow/releases/vexflow-min.js'></script>	
</head>
<body>
<header>
<div class="header-wrapper">
<div class="header-nav">
<div class="logo">
<div class="cyrcle"></div>
</div>
<div class="nav">
<ul class="nav-ul">
<li><a href="">Docs</a></li>
<li><a href="">Support</a></li>
</ul>
</div>
<div class="search">
<span><img src="img/search.png" alt="search-icon" class="search-img" /></span>
<input type="text" name="search" class="header-search" />
</div>
<div class="enter">
<ul class="sign">
<li><a href="">Sign In</a></li>
</ul>
</div>
</div>
</div>
</header>
<section id="registration">
<div class="reg-wrapper">
<div class="reg-content">
<div class="guitar">
<img src="img/guitar.png" alt="guitar" class="guitar-img" />
</div>
<div class="div-reg">
<form action="#" class="form-reg">
<p><input type="text" placeholder="User name ..." /></p>
<p><input type="text" placeholder="Email ..." /></p>
<p><input type="text" placeholder="Password" /></p>
<p>Use at least one letter, one numeral, and seven characters.</p>
<p><button>Sing Up</button></p>
</form>
</div>
</div>
</div>
</section>
<section id="about-service"></section>
<footer></footer>
</body>
</html>