<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hello</title>
</head>
<body>

<h1>Welcome to GuitHub</h1>
<h2>Here is the list of all our users from DB:</h2>

<div th:each="user : ${users}">
    <span th:text="${user.id}">user id</span> <span th:text="${user.username}">user names</span>
</div>

<h2>Add new user:</h2>
<form method="post" action="/adduser">
    <input type="text" name="name"/>
    <input type="submit"/>
</form>

<h2>Delete user by ID:</h2>
<form method="post" action="/deleteuser">
    <input type="text" name="id"/>
    <input type="submit"/>
</form>
</body>
</html>