<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src='https://unpkg.com/vexflow/releases/vexflow-min.js'></script>
    <title>NotesView</title>
</head>
<body>
<header id="notes">
    <div class="header-wrapper">
        <div class="header-nav">
            <a href="/">
                <div class="logo">
                    <div class="cyrcle"></div>
                </div>
            </a>
            <div class="nav">
                <ul class="nav-ul">
                    <li><a href="">Docs</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>
            <div class="search">
                <span><img src="img/search.png" alt="search-icon" class="search-img"/></span>
                <input type="text" name="search" class="header-search"/>
            </div>
            <div class="enter">
                <ul class="sign">
                    <li>
                        <div class="profile">Hello <span th:text="${username}">Joe</span></div>
                    </li>
                    <li><a href="/exit">Exit</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="reg-wrapper">
        <div class="version-info">
            <h3>Version 1.1</h3>
            <p>Comment:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cum deserunt voluptatibus doloremque,
                expedita dicta sint earum libero ipsam porro excepturi esse, tenetur, dolorum labore eaque, recusandae
                quos voluptate saepe!
            </p>
            <p class="create-date"><span><img src="img/version-date.png" alt="version date icon"/></span>
                05.05.2017
                14:03:25</p>
        </div>
        <div class="version-content">

            <div class="version-view">

                <div class="version-main">
                    <h3><a href="">Main version:</a></h3>
                    <div id="boo-main"></div>
                </div>

                <div class="version-reg">
                    <h3>Version 1.1:
                    </h3>
                    <div id="boo-reg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src='js/notesview.js'></script>
</body>
</html>