<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Test1 - VexFlow</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src='https://unpkg.com/vexflow/releases/vexflow-min.js'></script>
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="header-nav">
            <a href="/">
                <div class="logo">
                    <div class="cyrcle"></div>
                </div>
            </a>
            <div class="nav">
                <ul class="nav-ul">
                    <li><a href="">Docs</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>
            <div class="massage" th:text="${massage}">

            </div>
            <div class="search">
                <span><img src="img/search.png" alt="search-icon" class="search-img"/></span>
                <input type="text" name="search" class="header-search"/>
            </div>

        </div>
    </div>
</header>


<section id="signin">
    <div class="reg-wrapper">
        <div class="reg-content">
            <div class="guitar">
                <img src="img/guitar.png" alt="guitar" class="guitar-img"/>
            </div>
            <div class="div-reg">
                <form action="/login" method="post" class="form-reg">
                    <p><input type="text" name="username" placeholder="User name ..."/></p>
                    <p><input type="password" name="password" placeholder="Password"/></p>
                    <p>
                        <button>Sing in</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="about-service"></section>
<footer></footer>

</body>
</html>